#calendar-container {
    width: 100%; /* Adjust as needed */
    margin: 20px auto;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* Add padding */
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days a week */
    gap: 4px; /* Adjust spacing */
    padding: 8px;
    width: 100%;
}

.day-name {
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

.calendar-day {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc; /* Light border */
    cursor: pointer; /* Make days clickable */
    transition: background-color 0.3s; /* Smooth background transition */
}

.calendar-day:hover {
    background-color: #eee; /* Light gray on hover */
}

.calendar-day.disabled {
    color: #999; /* Gray out past days */
    cursor: default; /* Remove pointer */
    background-color: #f5f5f5; /* Slightly lighter gray for disabled days */
    border: 1px solid #ddd; /* Slightly darker border for disabled days */
}

.calendar-day.current { /* Style for the current day */
    background-color: #e0e0e0; /* Light gray background */
    font-weight: bold;
}

.plus-icon {
    color: green;
    font-size: 1.2em; /* Make plus icon a bit bigger */
    margin-top: 4px;
    display: block; /* Ensure it's on its own line */
    text-align: center; /* Center the plus icon */
}

#booking-form, #confirmation-message {
    position: fixed; /* Or absolute, depending on your preference */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the pop-up */
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's on top of other elements */
    width: 90%; /* Or adjust as needed */
    max-height: 100%;
    overflow: scroll;
}

#booking-form .mdl-textfield {
    width: 100%; /* Make text fields full width */
    margin-bottom: 16px;
}

#booking-form .gender-options {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

#booking-form h3 {
    margin-top: 16px;
}

#booking-form button {
    margin-right: 8px;
}

/* Style for the confirmation message */
#confirmation-message {
  text-align: center;
}

.help {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.courtesy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 125px;
    justify-content: space-between;
    margin: 200px auto 20px auto;
}